@font-face {
  font-family: 'mySignature';
  src: url('Cassandra.ttf');
}

nav{
  content-visibility: hidden;
}

body{
  margin: 0;
  background: #EEEEEE;
}

p{
  font-family: 'Playfair Display', serif;
}

h2{
  font-family: 'Inter', sans-serif;
  color: #DCDCDC;
  text-shadow: 2px 1px #D4D4D4;
  font-size: 4rem;
  margin: 7% 10% 0;
}

#container{
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow: scroll;
  -webkit-scroll-snap-type: y mandatory;
      -ms-scroll-snap-type: y mandatory;
          scroll-snap-type: y mandatory;
}

section{
  display: flex;
  flex-direction: column;
  height: 100vh;
  scroll-snap-align: start;
}

.name {
  font-family: 'mySignature';
  color: black;
  font-size: 4.5rem;
}

.title{
  font-size: 2rem;
}

#hero{
  justify-content: center;
  align-items: center;
}

#bio{
  font-size: 2rem;
  width: 75%;
  margin-left: 20%;
  height: 65%;
}

#bio-section{
  background: lightpink;
}

#exp{
  font-size: 2rem;
  width: 75%;
  margin-left: 20%;
}

#exp-section{
  background: #DEBACE;
}

ul > li{
  list-style: none;
  font-size: 1.3rem;
  width: 80%;
  margin-left: 10%;
  font-family: 'Playfair Display', serif;
}

#project-section{
  background: #D0C9C0;
}

.projs{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin: 5% 0 0 10%;
}

.proj1{
  height: 200px;
  width: 300px;
  width: 100%;
  object-fit: cover;
}

.proj2{
  height: 200px;
  width: 300px;
  width: 100%;
  object-fit: cover;
}

.proj3{
  height: 200px;
  width: 300px;
  width: 100%;
  object-fit: cover;
}


.socials{
  position: relative;
}

.github{
  position: absolute;
  bottom: 0;
  right: 0;
}

.linkedIn{
  position: absolute;
  bottom: 0;
  right: 4%;
}

@media screen and (max-width: 768px) {
  nav{
    content-visibility: visible;
    display: flex;
    justify-content: space-evenly;
    height: 5vh;
    background: black;
    position: fixed;
    width: 100%;
  }
  
  a{
    margin-top: 1vh;
    text-decoration: none;
    color: white;
    font-family: 'Playfair Display', serif;
  }

  .socials{
    content-visibility: hidden;
  }

}